{{ define "main" }}
<!-- Main Content -->
<h1 class="py-6 text-center text-2xl font-extrabold md:text-4xl">{{ .Title }}</h1>
<article class="prose mx-auto max-w-screen-md bg-white px-4 prose-a:text-blue-600 hover:prose-a:text-blue-500">
    {{ with .Params.feature_image }}
        <img class="headshot img-thumbnail"  src="{{ . }}" alt="desk" width="1000" height="563">
    {{ end }}

    <h1 class="py-5 text-xl font-bold"> {{ .Params.Dev.Title }} </h1>
    <ul class="list-image-[url(checkmark.png)]">
    {{ range .Params.Developer_Environment }}
        <li class="text-lg py-1">{{ .category }}: <a class="text-blue-700 font-semi-bold" href="{{ .link }}" target="_blank">{{ .tool }}</a></li>
    {{ end }}
    </ul>

    <h1 class="py-5 text-xl font-bold"> {{ .Params.Software.Title }} </h1>
    <ul>
    {{ range .Params.Softwares }}
        <li class="text-lg">{{ .category }}: <a class="text-blue-700 font-semi-bold" href="{{ .link }}" target="_blank">{{ .tool }}</a></li>
    {{ end }}
    </ul>

    <h1 class="py-5 text-xl font-bold"> {{ .Params.Software.Title }} </h1>
    <ul>
    {{ range .Params.Hardwares }}
        <li class="text-lg">{{ .category }}: <a class="text-blue-700 font-semi-bold" href="{{ .link }}" target="_blank">{{ .tool }}</a></li>
    {{ end }}
    </ul>

    <div class="col-lg-8">{{ .Content }}
    </div>
</article>
{{ end }}
